.project-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

.project-container .project {
    min-height: 10em;
    border-radius: 5px;
}