
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --blue: #0091AD;
  --yellow: #FDFF96; 
  --input-border: 2px;
  --body-padding: 1em 4rem;
  --body-padding-mobile: 1em 2rem;
  --animation-duration: 0.25s;
  --gray5: #121212;
  --gray0: #f8f8f8;
  --gray6: #12181b;
  --red: #fc655a;
}

body.light {
  --bg: var(--gray0);
  --text: #000;
  --border-color: rgba(114, 171, 182, 1);
  --input-border-color: rgba(0, 0, 0, 0.4);
  --border-color-light: rgb(0, 0, 0, 0.2);
  --border-color-dark: rgb(0, 0, 0, 0.4);
  --box-shadow-color: rgb(0, 0, 0, 0.1);
  --form-border-color: var(--border-color-light);
  --icon-filter: invert(0%)
}

body.dark {
  --bg: var(--gray5);
  --text: #fff;
  --form-border-color: var(--blue);
  --border-color: var(--blue);
  --input-border-color: rgba(255, 255, 255, 0.8);
  --border-color-light: rgb(255, 255, 255, 0.2);
  --border-color-dark: rgb(255, 255, 255, 0.8);
  --box-shadow-color: transparent;
  --icon-filter: invert(100%)
}

body {
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  padding: var(--body-padding);
  overflow: hidden;
  transition: background-color 500ms ease-in-out, color 1s ease-in-out;;
  transition-duration: 500ms;
  overflow-x: hidden;
}


.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cus-input {
  min-width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.5em;
  border: var(--input-border) solid var(--input-border-color);
  border-radius: 5px;
}

.cus-input img {
  max-width: 1.3em;
  user-select: none;
  pointer-events: none;
  filter: var(--icon-filter);
  transition: filter 0.2s ease-in, transform 0.2s ease-in
}

.cus-input input {
  width: 90%;
  padding: 0.5em;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: none;
  color: var(--text)
}

input:-moz-placeholder, input:invalid {
  box-shadow:none !important;
}

.cus-input:focus-within img {
  filter: invert(37%) sepia(100%) 
    saturate(558%) hue-rotate(146deg) 
    brightness(97%) contrast(101%);
  transform: scale(1.1)
}

.cus-input:focus-within, 
.cus-input:hover {
  border: var(--input-border) solid var(--blue);
}

.btn {
  outline: none;
  min-width: 5em;
  padding: 0.3em 0.5em;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1.05rem;
  transition: filter 0.3s ease-out, transform 0.3s ease-out;
}

.btn.primary {
  background-color: var(--blue);
}

.btn:hover, .btn:focus {
  filter: saturate(70%);
  transform: scale(0.95)
}

a.btn {
  text-decoration: none;
  padding: 0.5em 1em;
}

.btn.google {
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
   0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
} 

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform, top, opacity;
  transition-timing-function: ease-out;
  transition-duration: 350ms;
}

.modal.disabled {
  top: 100%;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

textarea {
  resize: vertical;
  min-height: 40%;
  width: 100%;
  outline: none;
  padding: 1em;
  font-family: 'Poppins';
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4);

}

@media screen and (max-width: 575.98px) {
  body {
    padding: var(--body-padding-mobile);
  }
  .cus-input {
    min-width: 100%;
    min-height: 2.5em;
    overflow: hidden;
    font-size: 1.4rem;
  }
  .cus-input input {
    font-size: 1.2rem;
  }

  .btn, a.btn {
    padding: 0.8em 1.4em;
    font-size: 1.25rem;
    text-align: center;
  }
}

@keyframes pulse {
  0% { transform: scale(.8); }
  40% { transform: scale(1.2); }
  70% { transform: scale(1); }
  90% { transform: scale(1.01); }
  100%{ transform: scale(1); }
}