.auth-form {
    height: 70vh;
    margin: auto;
    margin-top: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--form-border-color);
    box-shadow: 1px 1px 20px 0 var(--box-shadow-color);
    --animation-speed: .4s;
    --animation-delay: .1s
}

.tabs {
    padding: 0.5em 1em;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tab {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    border-bottom: 2px solid var(--border-color-light)
}

.tab.signup {
    border-left: 2px solid var(--border-color-light)
}

.tab.active {
    color: var(--blue);
    border-bottom: 2px solid var(--border-color-dark);
}

.contents {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-tab, .signup-tab {
    width: 100%;
    padding: 1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.login-tab hr {
    width: 80%;
    opacity: 0.4;
}

.login-tab.closed, .signup-tab.closed {
    opacity: 0;
    visibility: hidden;
    transition-delay: var(--animation-delay);
    transition-duration: var(--animation-speed);
    transition-timing-function: ease-out;
    transition: 
            opacity,
            visibility;
}

@media screen and (max-width: 575.98px) {
    .auth-form {
        margin-top: 0.5em;
        width: 100%;
        font-size: 1.4rem;
    }
    .login-tab hr {
        width: 90%;
    }
    .login-tab, .signup-tab {
        padding-top: 1.5em;
        justify-content: flex-start;
        gap: 1em
    }
}