nav {
  display: flex;
  justify-content: space-around;
  background: white;
  /* color: white; */
  min-height: 6em;
  padding: 0 2em;
  padding-top: 1em; 
  align-items: center;
}

body {
  background: black;
}

.avatar {
  max-width: 3em;
  border-radius: 50%;
  cursor: pointer;
}

.ham-menu {
  cursor: pointer;
  z-index: 10;
}

.ham-menu:hover {
  background: red;
}

.sidemenu {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  background: rgb(112, 255, 119, 0.6);
  min-width: 85%;
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: space-between
  }
  .avatar {
    max-width: 4em
  }
}